<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock head %}
    </head>

    <body id="index" class="home">
        <div id="container-sidebar">
            <div id="inner-sidebar">
                <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
                </header><!-- /#banner -->
                <nav id="menu">
                <ul>
                    {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
                {% if DISPLAY_PAGES_ON_MENU and PAGES %}
                <h4>Pages</h4>
                <ul>
                    {% for p in PAGES %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                </nav><!-- /#menu -->
            </div>
        </div> <!-- /#sidebar -->

        <div id="container-content">
            {% block content %}
            {% endblock %}
        </div>

        <footer id="contentinfo" class="body">
        <address id="about" class="vcard body">
            Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican</a>,
            which takes great advantage of <a href="http://python.org">Python</a>.
        </address><!-- /#about -->
        </footer><!-- /#contentinfo -->

        {% if DISQUS_SITENAME %}
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            {% if DISQUS_DEVELOPER %}
            var disqus_developer = 1;
            {% endif %}
            (function () {
                 var s = document.createElement('script'); s.async = true;
                 s.type = 'text/javascript';
                 s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                 (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
             }());
        </script>
        {% endif %}
    </body>
</html>
