/*@import "html5-doctor-reset-stylesheet.css";*/

@import "mixins.less";

@import url('http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Comfortaa:700');
@import url('http://fonts.googleapis.com/css?family=Mate:400,400italic');
@import "pygments.css";

/* Colour palette from http://www.colourlovers.com/palette/482774/dream_magnet */
@palette1: #343838;
@palette2: #005F6B;
@palette3: #008C9E;
@palette4: #00B4CC;
@palette5: #00DFFC;

@bodyBackground: @palette1;
@bodyForeground: #fff;

@contentBackground: #fff;
@contentForeground: #000;

@linkColor: @palette3;
@linkHover: @palette5;

@borderColor: @palette4;

@literalBackground: lighten(@borderColor, 58%);
@admonitionBackground: lighten(@bodyBackground, 65%);

@baseFontSize: 13px;
@baseLineHeight: 18px;

@baseFontFamily: 'Maven Pro', sans-serif;
@headingFontFamily: 'Comfortaa', sans-serif;
@monoFontFamily: monospace, monospace;
@serifFontFamily: 'Mate', serif;

@containerPadding: 20px;
@smallPadding: 5px;
@sidebarWidth: 250px;
@maxContentWidth: 800px;


/* Basic styles */

body {
    padding: 0 @containerPadding;
    padding-left: @sidebarWidth;
    margin: 0 0;
    max-width: @maxContentWidth;
    background-color: @bodyBackground;
    color: @bodyForeground;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
}

a {
    color: @linkColor;
    text-decoration: underline;

    &:hover {
        color: @linkHover;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: @headingFontFamily;

    /* Don't make links stand out when they're in headings */
    a {
        color: inherit;
        text-decoration: inherit;
    }
}

h1 { font-size: 230%; line-height: @baseLineHeight * 2; }
h2 { font-size: 185%; line-height: @baseLineHeight * 2; }
h3 { font-size: 140%; line-height: @baseLineHeight * 1.5; }
h4 { font-size: 110%; line-height: @baseLineHeight; }
h5 { font-size: 110%; line-height: @baseLineHeight; font-family: @baseFontFamily; }
h6 { font-size: 85%; line-height: @baseLineHeight; font-family: @baseFontFamily; text-transform: uppercase; }

p, blockquote {
    margin: 0 0 @baseLineHeight / 2;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    text-align: justify;
}

blockquote {
    padding: 0 @containerPadding;
    border-left: 1px solid @borderColor;

    p {
        font-family: @serifFontFamily;
    }
}

pre {
    margin: 0 0 @baseLineHeight / 2;
    font-family: @monoFontFamily;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    background-color: @literalBackground;
}

tt {
    font-family: @monoFontFamily;
    font-size: @baseFontSize;
    background-color: @literalBackground;
}

ul, ol {
    padding: 0;
    margin: 0 0 @baseLineHeight / 2 25px;
}

footer {
    display: block;
    margin: 0 0 @baseLineHeight / 2;
    font-size: 90%;
}

address {
    display: inline;
    font-style: normal;
    line-height: @baseLineHeight;
}


/* Two-column page layout */

#container-sidebar {
    width: @sidebarWidth;
    float: left;
    margin-left: -@sidebarWidth;
}

#inner-sidebar {
    padding: @containerPadding;
    text-align: right;
}

#container-content {
    padding: @containerPadding;
    background-color: @contentBackground;
    color: @contentForeground;
    border: 3px solid @borderColor;
    border-top: none;

    footer {
        color: lighten(@contentForeground, 30%);
    }
}

nav#menu ul {
    list-style: none;
    line-height: @baseLineHeight * 1.5;
    li {
        a {
            padding-right: @smallPadding;
            border-right: 3px solid;
        }

        &.active a {
            color: @linkHover;
            text-decoration: none;
        }
    }
}


/* One-column layout optimised for phones */

@media (max-width: 767px) {
    body {
        padding: 0 0;
        margin: 0 0;
    }

    #container-sidebar {
        float: none;
        width: auto;
        margin-left: 0;
    }

    #inner-sidebar {
        padding: @containerPadding / 2;
    }

    nav#menu ul {
        display: inline-block;
        margin-left: 0;

        li {
            display: inline;
            margin-left: @baseLineHeight;

            a {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    #container-content {
        padding: @containerPadding / 2;
        border: 3px solid @borderColor;
        border-left: none;
        border-right: none;
    }
}


/* Specific styles */

body > footer {
    padding: @smallPadding;
    text-align: center;
}

ol#post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* reStructuredText admonitions */

div.admonition,
div.caution,
div.note {
    padding: @containerPadding/2 @containerPadding;
    margin: 0 0 @baseLineHeight / 2;
    background-color: @admonitionBackground;
    .admonition-title {
        font-weight: bold;
    }
}

article {
    margin-bottom: @baseLineHeight;
}
