/*@import "html5-doctor-reset-stylesheet.css";*/

@import "mixins.less";

@import "pygments.css";

/* Colour palette from http://www.colourlovers.com/palette/482774/dream_magnet */
@palette1: #343838;
@palette2: #005F6B;
@palette3: #008C9E;
@palette4: #00B4CC;
@palette5: #00DFFC;

@bodyBackground: @palette1;
@bodyForeground: #fff;

@contentBackground: #fff;
@contentForeground: #000;

@containerPadding: 20px;
@smallPadding: 5px;
@sidebarWidth: 250px;
@maxContentWidth: 800px;

@linkColor: @palette3;
@linkHover: @palette5;


@import url('http://fonts.googleapis.com/css?family=Gudea|Comfortaa');

/* Basic styles */

body {
    padding: 0 @containerPadding;
    padding-left: @sidebarWidth;
    margin: 0 0;
    max-width: @maxContentWidth;
    background-color: @bodyBackground;
    color: @bodyForeground;
    font-family: Gudea, sans-serif;
    /*font-size: 16px;*/
}

a {
    color: @linkColor;
    text-decoration: underline;

    &:hover {
        color: @linkHover;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa, sans-serif;
    a {
        color: inherit;
        text-decoration: inherit;
    }
}


/* Two-column page layout */

#container-sidebar {
    width: @sidebarWidth;
    float: left;
    margin-left: -@sidebarWidth;
}

#inner-sidebar {
    padding: @containerPadding;
    text-align: right;
}

#container-content {
    padding: @containerPadding;
    background-color: @contentBackground;
    color: @contentForeground;
    border: 3px solid @palette4;
    border-top: none;
}


/* Specific styles */

nav#menu ul {
    list-style: none;
    li {
        margin-top: @smallPadding;
        a {
            padding-right: @smallPadding;
            border-right: 3px solid;
        }

        &.active a {
            color: @linkHover;
            text-decoration: none;
        }
    }
}

body > footer {
    padding: @smallPadding;
    font-size: small;
    text-align: center;
    address {
        font-style: normal;
    }
}
